{% switch field.type %}
  {% case 'text' %}
    <input type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}" class="regular-text" {{ field.required ? 'required' : '' }}>
  {% case 'select' %}
    <select id="{{ key }}" name="{{ key }}" {{ field.required ? 'required' : '' }}>
      {% for option in field.options %}
        <option value="{{ option }}" {{ option == value ? 'selected' : '' }}>{{ option }}</option>
      {% endfor %}
    </select>
  {% case 'textarea' %}
    <textarea id="{{ key }}" name="{{ key }}" rows="5" cols="50" class="large-text" {{ field.required ? 'required' : '' }}>{{ value }}</textarea>
  {% default %}
    No input type specified
{% endswitch %}