{% if weather %}
<!-- wp:paragraph -->
<p>{{ weather }}</p>
<!-- /wp:paragraph -->
{% endif %}

<!-- wp:paragraph -->
<p>{{ textBefore }}</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":2} -->
<h2>{{ textBlockHeader }}</h2>
<!-- /wp:heading -->

{% for item in news %}
{{ item.result | raw }}
{% endfor %}

<!-- wp:paragraph -->
<p>{{ textAfter }}</p>
<!-- /wp:paragraph -->
